h1{
    font-size: 30px;
    color:#ffffff;
    text-align: center;
}

.search{
    height: 30px;
    width: 200px;
    background-color: #ebebeb;
}

.submit{
    height: 25px;
    width: 100px;
    font-size: 15px;
    background-color: #ebebeb;
    margin-top: 3px;
}

.inputfield{
    display:flex;
    justify-content: center;
}

.buttonfield{
    display:flex;
    justify-content: center;
}

.textfield{
    display:flex;
    justify-content: center;
    color: #ffffff;
}